.row.user-profile
  .col-md-12
    .col-md-3
      .block
        .avatar
          = image_tag @user.avatar.medium.url
        %h1= @user.name
        %p
          %i.glyphicon.glyphicon-envelope.profile-icon 
          = @user.email
        - if !is_current_user?(@user) && user_signed_in?
          = render 'form_follow'
        - if is_current_user?(@user)
          = link_to "Edit profile", edit_user_path(@user), class: 'btn btn-primary'
    .col-md-9
      .block
        %h2 
          Recent Posts By 
          = @user.name
        - if @posts.empty?
          %p 
            = @user.name
            haven't post any article yet.
        - else
          = render partial: 'posts/listing', locals: { posts: @posts }