.posts
  - posts.each do |post|
    = link_to post do
      .row
        .col-md-12
          .block
            .post-image
              = image_tag post.cover_image.thumb.url, class: 'img-responsive'
            .post-content
              %h3= post.title
              %i 
                By
                = post.user.name
              %br
              %p 
                - post.tags.each do |tag|
                  %span.label.label-danger= tag.name
              %p= post.excerpt 

  = will_paginate posts            