.navbar.navbar-fixed-top.navbar-inverse
  .container-fluid
    .navbar-header
      %button{type: "button", class: "navbar-toggle collapsed", data: {toggle: "collapse", target: "#blog-app-navbar-collapse"}, aria: {expanded: false}}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to root_path, class: 'navbar-brand' do            
        Blog App
    .collapse.navbar-collapse#blog-app-navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li= link_to "Home", root_path
        %li= link_to "Help", static_pages_help_path
        -unless user_signed_in?
          %li= link_to "Login", new_user_session_path
        -else
          %li= link_to "New Post", new_post_path
          %li 
            =link_to edit_user_registration_path do
              %i.glyphicon.glyphicon-cog
          %li
            = link_to destroy_user_session_path, method: :delete do
              %i.glyphicon.glyphicon-log-out
